* {
    font-family: monospace;
    font-weight: normal;
}

h1{
    padding: 10px;
    color: white;
}

body {
    background-color: #1f1f1f;

}


pre {
    color: #f1f1f1;
    max-width: 300px;
    height: 50px;
    font-size:15px;
    overflow: scroll;
    padding: 0px;
    margin: 0px;
    transition: 1s;
}


/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #3f3f3f;

}

::-webkit-scrollbar-corner {
    background: none;
}

table {
    border-spacing: 4px; /* Adjust the spacing value as needed */
    padding: 5px;
}

th,
td {
    border-radius: 5px;
    background-color: #272727;
    margin: 10px;
    border: 0px solid transparent;
    border-collapse: collapse;
    padding: 10px;
    
}


button {
    background-color: #3f3f3f;
    /* Green */
    margin: 10px 10px 10px 10px;
    border: none;
    color: #f1f1f1;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.5s;
}

button:hover {
    background-color: #272727;

}

/* Styling for input fields */
input[type="text"] {
    margin: 10px;
    padding: 15px;
    background-color: #3f3f3f;
    border: none;
    color: white;
    font-size: x-large;
    border-radius: 5px;
    transition: 0.5s;
}

input[type="text"]:focus {
    background-color: #272727;
    outline: none;
}
